.react-responsive-modal-modal {
    height: 100%;
    max-width: 1400px !important;
    width: 100%;
}

.countryInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.countryInfo_chart {
    display: flex;
    flex: 1;
}