html, body, #root {
    display: flex;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}

.worldProfits {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

.worldProfits_wrapper {
  background: #fff;
  flex: 1;
  box-shadow: inset 0 0 10px #000000;
}

.worldProfits_title {
  font-size: 32px;
  background: rgba(255, 165, 0, 0.65);
  font-weight: bold;
  flex-basis: 40px;
  padding: 10px 0;
}