html, body, #root {
    display: flex;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}

.worldProfits {
  min-width: 980px;
  text-align: center;
  flex: 1 1;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  height: 100%;
}

.worldProfits_wrapper {
  background: #fff;
  flex: 1 1;
  box-shadow: inset 0 0 10px #000000;
  min-height: 1px;
  display: flex;
}

.worldProfits_title {
  font-size: 32px;
  background: rgba(255, 165, 0, 0.65);
  font-weight: bold;
  flex-basis: 44px;
  padding-top: 6px;
}