html, body, .worldProfits, #root {
    display: flex;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}

.worldProfits {
  text-align: center;
  padding: 30px;
  background: #ccc;
}

.worldProfits_wrapper {
  background: #fff;
}